<header>
    <h2>Crée une tâche dans <%= @task_list.name %> - <%= @project.name %></h2>
</header>

<main class="center">
    <%= render 'form', project: @project, task_list: @task_list, task: @task %>
    <%= link_to 'Retour', project_path(@project) %>
</main>
