<header>
  <h2>Ajouter le webhook de Slack</h2>
</header>
<main class="center">
    <%= render 'form' , slack: @slack, discord: @discord %>
    <%= link_to 'Retour', projects_path, class:"subtitle-action" %>
</main>
