<header>
    <h2>Éditer la liste de for <%= @project.name %></h2>
</header>
<main class="center">    
    <%= render 'form', project: @project, task_list: @task_list %>
    <%= link_to 'Back', project_path(@project) %>
</main>
