<header>
    <h2>Crée une liste de tâches</h2>
</header>

<main class="center">
    <%= render 'form', project: @project, task_list: @task_list %>
    <%= link_to 'Retour', project_path(@project) %>
</main>
