// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Variables
$main: #CC0000;
$light-gray: #F3F3F3;
$background: #FFF;
$warning: #FF9029;

$font-white: #FFF;
$font-gray: #999999;
$font-black: #000;

body {
    font-family: sans-serif;
    background-color: $background;
    border: 0;
    margin: 0;
}


input {
    border: none;
    background-color: $light-gray;
    outline-color: $main;
    font-size: 1rem;
    &[type=password],
    &[type=email] {
        margin-bottom: 1rem;
        padding: .4rem .7rem;
    }
    &[type=submit] {
        background-color: $main;
        padding: 0.7rem 1rem;
        border-radius: .5rem;
        color: $font-white;
        font-weight: bold;
    }
    &[type=checkbox] {
        filter: hue-rotate(160deg) brightness(80%);
    }
}

label {
    font-size: 1.2rem;
    color: $main;
    font-weight: bold;
    margin-bottom: .4rem;
    display: block;
}


.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.error-message {
    background-color: $warning;
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    h2 {
        font-size: 1.4rem;
    }
}
.notice,
.alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -50%);
}

header {
    background-color: $main;
    padding: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    h2 {
        color: $background;
        font-size: 2.5rem;
    }
}

main {
    padding: 1rem;
}


//Specific case of labels and inputs
label[for=user_remember_me] {
    font-size: .9rem;
    color: $font-gray;
    margin-bottom: 0;
}

.forgot-password {
    text-decoration: none;
    color: $main;
    font-size: 0.9rem;
    font-weight: bold;
}

.subtitle-action {
    color: $font-black;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem;
}
