// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Variables
$main: #CC0000;
$lighter-gray: #F7F7F7;
$light-gray: #F3F3F3;
$gray: #F0F0F0;
$background: #FFFFFF;
$alert: #FF9029;
$warning:#FFC828;
$success: #49E00F;

$font-white: #FFF;
$font-gray: #999999;
$font-black: #000;

$shdw: 1px 2px 4px rgba(0, 0, 0, 0.08);

body {
    font-family: sans-serif;
    background-color: $background;
    border: 0;
    margin: 0;
}


input {
    border: none;
    background-color: $light-gray;
    outline-color: $main;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    &[type=password],
    &[type=email] {
        margin-bottom: 1rem;
        padding: .4rem .7rem;
    }
    &[type=submit] {
        background-color: $main;
        padding: 0.7rem 1rem;
        border-radius: .5rem;
        color: $font-white;
        font-weight: bold;
    }
    &[type=checkbox] {
        filter: hue-rotate(160deg) brightness(80%);
    }
}

textarea,
select {
    border: none;
    background-color: $light-gray;
    outline-color: $main;
    font-size: 1rem;
    font-family: sans-serif;
    resize: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

label {
    font-size: 1.2rem;
    color: $main;
    font-weight: bold;
    margin-bottom: .4rem;
    display: block;
}


.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.error-message {
    background-color: $warning;
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    h2 {
        font-size: 1.4rem;
    }
}
.notice,
.alert {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    border-radius: .5rem;
    &:not(:empty) {
        padding: 1rem 1.2rem;
    }
}

.notice {
    background-color: $success;
}
.alert {
    background-color: $alert;
}

header {
    background-color: $main;
    padding: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    h2 {
        color: $background;
        font-size: 2.5rem;
    }
}

main {
    padding: 1rem;
}


//Specific case of labels and inputs
label[for=user_remember_me] {
    font-size: .9rem;
    color: $font-gray;
    margin-bottom: 0;
}

.forgot-password {
    text-decoration: none;
    color: $main;
    font-size: 0.9rem;
    font-weight: bold;
}

.subtitle-action {
    color: $font-black;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem;
}

.member {
    &-label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.9rem;
        width: 10ch;
        text-align: center;
        &::before {
            content: '+';
            color: $background;
            border-radius: 50%;
            background-color: $main;
            font-size: 2rem;
            padding: 0 .5rem;
            margin: 0 auto;
            margin-bottom: 0.5rem;
        }
    }
}





//specials popup
.plugin {
    border-radius: 50%;
    padding: 1rem;
    border: none;
    box-shadow: $shdw;
    cursor: pointer;
    svg {
        width: 2rem;
        height: 2rem;
    }
}
.integration {
    display: flex;
    background-color: $lighter-gray;
    width: fit-content;
    border-radius: .5rem;
    box-shadow: $shdw;
    &-card {
        cursor: pointer;
        background-color: $lighter-gray;
        width: 4rem;
        height: 5rem;
        padding: 2rem;
        padding-bottom: 4rem;
        margin: .5rem;
        border-radius: .5rem;
        transition: .2s ease-in;
        &:hover {
            background-color: $light-gray;
        }
        svg {
            width: 100%;
            height: 100%;
        }
        p {
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
        }
    }
}

.new {
    &-task {
        color: $font-white;
        background-color: $main;
        text-decoration: none;
        padding: 1rem;
        font-weight: bold;
        border-radius: .5rem;
    }
}


//Styles for task
.task {
    background-color: #7AB6FD;
    width: 30ch;
    border-radius: .5rem;
    padding: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0;
    &::after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 48 76"><g id="Groupe_1317" data-name="Groupe 1317" transform="translate(-549 -325)">          <circle id="Ellipse_258" data-name="Ellipse 258" cx="9" cy="9" r="9" transform="translate(549 325)"/>         <circle id="Ellipse_259" data-name="Ellipse 259" cx="9" cy="9" r="9" transform="translate(579 325)"/>          <circle id="Ellipse_260" data-name="Ellipse 260" cx="9" cy="9" r="9" transform="translate(549 354)"/>          <circle id="Ellipse_261" data-name="Ellipse 261" cx="9" cy="9" r="9" transform="translate(579 354)"/><circle id="Ellipse_262" data-name="Ellipse 262" cx="9" cy="9" r="9" transform="translate(549 383)"/><circle id="Ellipse_263" data-name="Ellipse 263" cx="9" cy="9" r="9" transform="translate(579 383)"/></g></svg>');
        position: absolute;
        width: 2rem;
        top: 1.5rem;
        right: .7rem;
        opacity: 0.4;
        filter: invert(1);

    }
    p {
        margin-top: 0;
        margin-bottom: 0.4rem;
        color: $font-white;
    }
    &-title {
        font-size: 1.2rem;
        font-weight: bold;
        padding-right: 2rem;
    }
    &-status {
        font-size: 0.6rem;
    }
    &-duration {
        font-size: 0.6rem;
        background-color: $font-white;
        border-radius: 2.5rem;
        color: #7AB6FD!important;
        width: fit-content;
        padding: 0.3rem 0.5rem;
        margin-bottom: 1rem!important;
    }
    &-description {
        opacity: 0.7;
        font-size: 0.9rem;
        margin-bottom: .8rem!important;
    }
    &-user{
        font-size: 0.8rem;
        padding-right: .5rem;
        display: flex;
        align-items: flex-end;
        img {
            border-radius: 50%;
            width: 2.5rem;
        }
        &s{
            display: flex;
            list-style-type: none;
        }

    }
    &-commands {
        position: absolute;
        right: -4rem;
        display: flex;
        flex-direction: column;

    }
    ul {
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    &-row {
        display: flex;
        justify-content: space-between;
    }
    &-complete {
        &-check { height: 1px;}
        &-label {
            background-color: transparent;
            width: 2rem;
            height: 2rem;
            border-radius: .3rem;
            margin-bottom: 0;
            border: .3rem solid $lighter-gray;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: -0.2rem;
            transition: .2s ease-in;
            cursor: pointer;
            svg path {
                stroke: transparent;
            }
        }
        &-check:checked + label {
            background-color: $lighter-gray;
            svg path {
                stroke: #7AB6FD;
            }
        }
    }
}

.tasklist {
    &-title {
        font-size: 1.2rem;
    }
    &-container {
        background-color: $lighter-gray;
        padding: 1rem 2rem;
    }
}